.list {
  display: grid;
  grid-template-columns: repeat(4, minmax(276px, 1fr));
  gap: 48px 32px;
  list-style: none;
  justify-content: center;
  padding: 56px 120px;
}

.loader {
  margin: 20px auto;
}

.noCarsBrand {
  padding: 24px;
}
.noCarsBrandText {
  font-size: 18px;
  color: #101828;
  text-align: center;
  align-items: center;
}
.loading {
  margin: 80px auto 124px;
  padding: 12px 38px;
}