.wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../../assets/hero-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;

  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 16px;
}

.text {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 40px;
}

.btn {
  color: white;
  background-color: #3470ff;
  padding: 12px 88px;
  margin-bottom: 60px;
  border-style: none;
  border-radius: 12px;
  text-decoration: none;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.btn:hover,
.btn:focus {
    background-color: #0B44CD;
}